header {visibility:hidden;position:fixed;top:0;left:0;height:0;width:100%;min-width:1000px;font-size:10px;text-transform:uppercase;z-index:10;}
.menu-navigation nav {position:absolute;top:0;left:0;width:100%;height:0;}
.menu-navigation nav h1 {position:absolute;top:0;left:0;width:234px;height:100px;background:#511f42;overflow:hidden;}
.menu-navigation nav h1 img {display:block;position:relative;top: 0px;}
.menu-navigation nav .handle {position:absolute;top:0;right:0;width:200px;height:100px;background:#7e3a69;cursor:pointer;z-index:11; color: #FFF;}
.menu-navigation nav .handle:hover i.cross .bar,
.menu-navigation nav .handle:hover i.list .bar {background:#fff;}
.menu-navigation nav .handle .thearrow {display: inline-block; width: 15px; padding: 28px 20px 0px 20px; min-height: 44px;}
.menu-navigation nav .handle .mtitle {display: inline-block; position: absolute; top: 30px; left: 50px; text-align: center; color: #f5e23e; font-size: 12px;}
.menu-navigation nav .reserve {display:block;visibility:hidden;position:absolute;top:0;right:0;width:116px;height:100px;border-left:1px solid #675f5d;z-index:11;}
.menu-navigation nav .reserve a {display:block;width:116px;height:100px;line-height:100px;background:#511f42;text-align:center;color:#fff;}
header .list-container {position:absolute;top:0;left:234px;right:140px;height:0;z-index:10;}
header .list-container ul {position:relative;text-align:right;padding:0 80px 0 0;background:#511f42;}
header .list-container ul li {display:inline-block;margin:0;}
header .list-container ul li a {display:block;padding:0 10px; margin: 0 10px; line-height:100px;color:#fff; font-size: 12px;}
header .list-container .arrow {display:block;position:absolute;bottom:-125px;right:0;width:13px;height:7px;overflow:hidden;}
header .list-container .arrow .inner {display:block;position:absolute;top:10px;left:0;width:13px;height:13px;background:#fff;}
header .subnavs {display:block;position:absolute;top:125px;left:0;overflow:hidden;width:100%;height:388px;overflow:hidden;}
header .subnav {visibility:hidden;position:absolute;top:0;left:0;right:0;bottom:0;}
header .subnav .item {position:relative;float:left;height:100%;background:#fff;overflow:hidden;}
header .subnav .item .title {display:block;width:120px;height:126px;margin:0 auto;text-align:center;color:#511f42;}
header .subnav .item .title .inner {display:table-cell;vertical-align:middle;width:120px;height:126px;margin:0 auto;line-height:1.5em;}
header .subnav .item .picture {display:block;position:absolute;top:126px;right:0;bottom:0;left:0;text-align:center;background-size:cover;background-position:center center;}
header .subnav .item .picture.fallback {right:-500px;left:-500px;}
header .subnav .item .picture img {display:inline-block;}
header .subnav .item .separator {display:block;position:absolute;top:0;left:0;width:1px;height:126px;background:#e5e5e5;}
header .subnav.more {position:absolute;top:0;left:0;right:0;height:100px;background:#fff;overflow:hidden;}
header .subnav.more ul {text-align:right;margin:0;}
header .subnav.more ul li {display:inline-block;margin:0;}
header .subnav.more ul li a {display:block;padding:0 20px;line-height:100px;color:#9b9b9b;}
header .subnav.more ul li a:hover,
header .subnav.more ul li a.active {display:block;padding:0 20px;line-height:100px;color:#000;}
header .subnav.more ul li.langs {margin:0 0 0 38px;width:116px;text-align:center;border-left:1px solid #e5e5e5;}
header .subnav.more ul li.langs a {display:inline;color:#9b9b9b;padding:0;}
header .subnav.more ul li.langs a:hover,
header .subnav.more ul li.langs a.active {color:#000;}
header .subnav.count-1 .item {width:100%;}
header .subnav.count-2 .item {width:50%;}
header .subnav.count-3 .item {width:33.3%;}
header .subnav.count-4 .item {width:25%;}
header .subnav.count-5 .item {width:20%;}
header .subnav.count-6 .item {width:16.6%;}
header .subnav.count-7 .item {width:14.2%;}
header .subnav.count-8 .item {width:12.5%;}
header .subnav.count-9 .item {width:11.1%;}
header .subnav.count-3 .num-0 {width:33.4%;}
header .subnav.count-6 .num-0 {width:17%;}
header .subnav.count-7 .num-0 {width:14.8%;}
header .subnav.count-8 .num-0 {width:12.5%;}
header .subnav.count-9 .num-0 {width:11.2%;}
header .paginations {position:absolute;top:0;right:116px;width:250px;height:100px;background:#511f42;}
header .paginations .inner {visibility:hidden;}
header .paginations .pagination {position:absolute;top:0;left:0;width:250px;height:100%;overflow:hidden;}
header .paginations .pagination .items {position:absolute;width:100%;height:100%;}
header .paginations .pagination .item {position:absolute;top:0;left:0;display:block;width:250px;height:100%;text-align:center;}
header .paginations .pagination .item .title {position:absolute;top:0px;left:0;width:100%;height:70px;color:#fff;font-size:13px;line-height:70px;}
header .paginations .pagination .item .title span {display:inline-block;vertical-align:middle;line-height:1.4em;}

header .paginations .pagination .item .num {position:absolute;top:68px;left:0;right:0;font-size:15px;fcolor:#ffe40f;}
header .paginations .pagination .item .next,
header .paginations .pagination .item .prev {display:block;position:absolute;top:54px;right:74px;width:38px;height:38px;}
header .paginations .pagination .item .next .bar-1,
header .paginations .pagination .item .prev .bar-1 {position:absolute;display:block;top:7px;left:14px;width:1px;height:10px;background:#fff;}
header .paginations .pagination .item .next:hover .bar-1,
header .paginations .pagination .item .prev:hover .bar-1,
header .paginations .pagination .item .next:hover .bar-2,
header .paginations .pagination .item .prev:hover .bar-2  {background:#ffe40f;}
header .paginations .pagination .item .next .bar-2,
header .paginations .pagination .item .prev .bar-2 {position:absolute;display:block;bottom:7px;left:14px;width:1px;height:9px;background:#fff;}
header .paginations .pagination .item .prev {right:auto;left:74px;right:auto;}
header .paginations .pagination .item .prev .bar-1 {top:auto;bottom:7px;}
header .paginations .pagination .item .prev .bar-2 {top:7px;bottom:auto;}

/* NO CSS TRANSFORM (IE 8) */
header .paginations .pagination .item .next .bar-1,
header .paginations .pagination .item .prev .bar-1,
header .paginations .pagination .item .next .bar-2,
header .paginations .pagination .item .prev .bar-2,
section.page .blocks .block .carrousel .arrow.next .bar-2,
section.page .blocks .block .carrousel .arrow.prev .bar-2,
.menu-navigation nav .handle i.cross .bar-1,
.menu-navigation nav .handle i.cross .bar-2,
section.scroll .arrow .bar-2,
section.scroll .arrow .bar-3,
a.home-scroll .arrow .bar-2,
a.home-scroll .arrow .bar-3,
section.page .blocks .block.text .arrows a .bar-1,
section.page .blocks .block.text .arrows a .bar-2,
section.page .blocks .block.text .arrows a .bar-3,
.page-contact section.page .form .close .bar-1,
.page-contact section.page .form .close .bar-2,
.icon.download .bar-1,
.icon.download .bar-2,
.icon.download .bar-3,
.icon.download .bar-4 {display:none;}
header .paginations .pagination .item .next {background:url('../images/sprite.png') -29px -22px no-repeat;}
header .paginations .pagination .item .prev {background:url('../images/sprite.png') 8px -22px no-repeat;}
header .paginations .pagination .item .next:hover {background:url('../images/sprite.png') -29px -57px no-repeat;}
header .paginations .pagination .item .prev:hover {background:url('../images/sprite.png') 8px -57px no-repeat;}
section.page .blocks .block .carrousel .arrow.next .bar-1 {top:18px;width:8px;height:15px;background:url('../images/sprite.png') -46px -35px no-repeat;}
section.page .blocks .block .carrousel .arrow.prev .bar-1 {top:18px;width:8px;height:15px;background:url('../images/sprite.png') -5px -35px no-repeat;}
section.page .blocks .block .carrousel .arrow.next:hover .bar-1 {background-position:-46px -70px;}
section.page .blocks .block .carrousel .arrow.prev:hover .bar-1 {background-position:-5px -70px;}
.menu-navigation nav .handle i.cross {background:url('../images/sprite.png') 0px 0px no-repeat;}
.menu-navigation nav .handle:hover i.cross {background-position:-40px 0;}
section.scroll .arrow {background:url('../images/sprite.png') -81px -34px no-repeat;}
/*section.scroll:hover .arrow {background-position:-81px -47px;}*/
a.home-scroll .arrow {background:url('../images/sprite.png') -46px -35px no-repeat;}
/*a.home-scroll:hover .arrow {background-position:-81px -47px;}*/
section.page .blocks .block.text .arrows a.next {background:url('../images/sprite.png') 7px -88px no-repeat;}
section.page .blocks .block.text .arrows a.prev {background:url('../images/sprite.png') -37px -88px no-repeat;}
.page-contact section.page .form .close {background:url('../images/sprite.png') -77px 3px no-repeat;}
a .icon.download {background:url('../images/sprite.png') 2px -124px no-repeat !important;}
a:hover .icon.download {background:#511f42 url('../images/sprite.png') -39px -124px no-repeat !important;}
header .list-container .arrow .inner {background:url('../images/sprite.png') -82px -130px no-repeat;}
.fixed-links .sound i {background:url('../images/sprite.png') -85px -67px no-repeat;}
.fixed-links .sound:hover i,
.fixed-links .sound.active i {background-position:-85px -78px !important;}
.fixed-links.dark .sound i {background-position:-85px -89px;}
.fixed-links .cookie-disclaimer a.close:after {background:url('../images/sprite.png') -62px -153px no-repeat;}
section.page .blocks .block.video .controls .hover-video .play-icon:after {background:url('../images/sprite.png') -5px -154px no-repeat;}
section.page .blocks .block.video .controls .hover-video:hover .play-icon:after {background:url('../images/sprite.png') -41px -154px no-repeat;}
section.page .blocks .block.video .controls .bottom .toggle-play:after {background:url('../images/sprite.png') -27px -174px no-repeat;}
section.page .blocks .block.video .controls .bottom .toggle-play.paused:after {background:url('../images/sprite.png') -27px -154px no-repeat;}

/* TRANSITIONS */
.fixed-links a,
.fixed-links {-webkit-transition:color 0.2s;}
.fixed-links a .u {-webkit-transition:background-color 0.2s;}
.fixed-links .sound i:after {-webkit-transition:background-color 0.2s;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
	header .paginations .pagination .item .next,
	header .paginations .pagination .item .prev,
	header .paginations .pagination .item .next:hover,
	header .paginations .pagination .item .prev:hover,
	section.page .blocks .block .carrousel .arrow.next .bar-1,
	section.page .blocks .block .carrousel .arrow.prev .bar-1,
	.menu-navigation nav .handle i.cross,
	section.scroll .arrow,
	section.page .blocks .block.text .arrows a.next,
	section.page .blocks .block.text .arrows a.prev,
	.page-contact section.page .form .close,
	a .icon.download,
	a:hover .icon.download,
	header .list-container .arrow .inner,
	.fixed-links .cookie-disclaimer a.close:after,
	section.page .blocks .block.video .controls .hover-video .play-icon:after,
	section.page .blocks .block.video .controls .bottom .toggle-play:after {background-image:url('../images/sprite@2x.png');background-size:107px 190px;
}
